<h1 id="tableLabel">Books</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!books"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="books">
    <thead>
        <tr>
            <th>Title</th>
            <th>YearOfRelease</th>
            <th>Publisher</th>
            <th>Author</th>
            <th>BookGenre</th>
            <th>Reviews</th>
            <th>Book Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{ book.title }}</td>
            <td>{{ book.yearOfRelease }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.bookGenre }}</td>
            <td>{{ book.numberOfReviews }}</td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/fetch-data', book.id]" routerLinkActive="active">Details</a> |
                <a class="btn btn-danger" (click)="delete(book.id)">Delete</a>

            </td>
        </tr>
    </tbody>
</table>



