<p>
    Add/Edit a review
</p>

<mat-card class="example-card">
    <form *ngIf="formGroup" [formGroup]="formGroup">
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Text" formControlName="text" type="text">

                <mat-error *ngIf="formGroup.get('text').touched && formGroup.get('text').errors && formGroup.get('text').errors.required">
                    Text required!
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="BookId" formControlName="bookId" type="number">

                <mat-error *ngIf="formGroup.get('bookId').touched && formGroup.get('bookId').errors && formGroup.get('bookId').errors.required">
                    Book id required!
                </mat-error>
            </mat-form-field>

        </div>
        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="save()">Save</button>
            <button mat-raised-button color="primary" [routerLink]='routerLink'>Cancel</button>
        </div>
    </form>
</mat-card>
